.mk{
    margin-top: 20px;
}
.bon{
    margin-left: 50px;
}
.kon{
    width: 253px;
    height: 70px;
    margin-top: -25px;
    margin-left: -20px;
}
h1{
    margin-left: 10px;
}
.fol{
    margin-left: 30px;
}